<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home">
            <h1 class="title">rentiary</h1>
        </a>
        <div
        [class.is-active]="showBurgerMenu"
        class="navbar-burger burger"
        (click)="toggleBurgerMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div [class.is-active]="showBurgerMenu" class="navbar-menu">
        <div class="navbar-end">
            <div *ngIf="!(userService.authState$ | async)" class="navbar-item">
                <div class="field">
                    <p class="control">
                        <a routerLink="/register" class="button is-primary is-outlined">
                            REGISTER
                        </a>
                        <a routerLink="/login" class="button is-primary is-outlined">
                            LOG IN
                        </a>
                    </p>
                </div>

            </div>

            <div *ngIf="(userService.authState$ | async)" class="navbar-item has-dropdown is-hoverable">
                <a routerLink="/account/info" class="navbar-link">
                    ACCOUNT
                </a>
                <div class="navbar-dropdown">
                    <a routerLink="/account/info" class="navbar-item">
                        MY INFO
                    </a>
                    <a class="navbar-item">
                        LISTINGS
                    </a>
                    <a class="navbar-item">
                        MESSAGES
                    </a>
                    <a class="navbar-item" (click)="logout()">
                        LOG OUT
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>