<div class="container">
    <h4 class="subtitle is-4 has-text-centered">
        Please log in to continue
    </h4>
    <firebase-ui></firebase-ui>
    <h4 id="orDivider" class="subtitle is-4 has-text-centered">
        <span>OR</span>
    </h4>

    <div class="column is-half is-offset-one-quarter">
        <form (ngSubmit)="loginUser()" #loginForm="ngForm">
            <div class="field">
                <div class="label">Email</div>
                <div class="control">
                    <input type="email"
                    #emailInput="ngModel"
                    [class.is-success]="emailInput.valid"
                    class="input"
                    required
                    email
                    [(ngModel)]="email" name="email">
                </div>
                <p *ngIf="!emailInput.valid" class="help is-danger">Email address is required</p>
            </div>

            <div class="field">
                <div class="label">Password</div>
                <div class="control">
                    <input type="password"
                    #passwordInput="ngModel"
                    [class.is-success]="(passwordInput.valid)"
                    class="input"
                    required
                    [(ngModel)]="password" name="password">
                </div>
                <p *ngIf="!passwordInput.valid" class="help is-danger">Password is required</p>
            </div>
            <div class="field">
                <alert></alert>
            </div>
            <div *ngIf="!loading" class="field">
                <button type="submit"
                [disabled]="!loginForm.form.valid"
                class="button is-primary">
                    LOG IN
                </button>
                <button class="button is-outlined is-primary" (click)="goBack()">
                    CANCEL
                </button>
            </div>
            <div *ngIf="loading" class="field has-text-centered">
                <span class="icon">
                    <i class="spinner fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                </span>
            </div>
        </form>
    </div>
</div>