/* Horizontal line, both sides, next to "OR" text */
#orDivider:before,
#orDivider:after {
    background-color: #d8d8d8;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
#orDivider:before {
    right: 0.5em;
    margin-left: -50%;
}
#orDivider:after {
    left: 0.5em;
    margin-right: -50%;
}

.label {
    font-weight: 600;
}

.spinner {
    color: hsl(171, 100%, 41%);
}
