<div class="tabs is-centered">
    <ul>
        <li *ngFor="let tabIndex of tabsModel.createTabsRangeCollection()"
            [class.is-active]="tabsModel.activeTabIndex === tabIndex"
            (click)="setActive(tabIndex)">
            <a routerLink="/{{tabsModel.getTabLink(tabIndex)}}">
                <span class="icon is-small">
                    <i class="fa {{tabsModel.getTabIcon(tabIndex)}}"></i>
                </span>
                <span>{{tabsModel.getTabText(tabIndex)}}</span>
            </a>
        </li>
    </ul>

    <router-outlet name="accountTabsContent"></router-outlet>
</div>
